body {
    font-family: 'Lobster Two';
    background-image: url(../images/bgbarbie.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: larger;
    text-align: center;
    vertical-align: middle;
}

.quiz{
    background-color: hotpink;
    margin: auto;
    width: 262px;
    height: 1168px;
}

.start-button {
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    font-family: 'Lobster Two';
    font-size: x-large;
}

.submit-button {
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    font-family: 'Lobster Two';
    font-size: x-large;
}

.quizHeader {
    background: url(../images/bg2barbie.gif);
    height: 210px;
    margin: 0;
    color: black;
    font-weight: normal;
}