body {
    font-family: 'Lobster Two';
    background-image: url(../images/Barbie.JPG);
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: larger;
}

.start-button {
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    font-family: 'Lobster Two';
    font-size: x-large;
}

.submit-button {
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    font-family: 'Lobster Two';
    font-size: x-large;
}